@import "header/loading.css";
@import "header/header.css";
@import "content/content.css";

html {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

h2 {
    font-weight: 100;
}

label{
    color: #111111;
}

label input{
    vertical-align: middle;
}
